body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  border: 3px solid yellow;
}

.app-header {
  background-color: #282c34;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.warning-message {
  font-size: 10px;
  color: orange;
}

.component-annotation {
  font-size: 6px;
}

.add-log-entry {
  border: 2px solid blue;
  padding: 2px;
  margin: 2px;
}

.log-entry-list {
  border: 2px solid red;
  padding: 2px;
  margin: 2px;
}

.single-log-entry {
  border: 1px solid green;
  padding: 2px;
  margin: 2px;
}

.single-log-entry span {
  display: inline-block;
}

.lifter-name {
  width: 150px;
}

.weight-lifted {
  width: 40px;
}

.input-sets-dialog header {
  font-size: 18px;
}

.input-sets-dialog .bottom {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.input-sets-dialog {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 250px;
  height: 200px;
  border: 1px solid magenta;
  background-color: gray;
  padding: 2px;
  font-size: 12px;
}

.input-mode-switch {
  padding: 2px;
  margin: 2px;
}

.sets-reps {
  padding: 2px;
  margin: 2px;
}

.custom-sets {
  padding: 2px;
  margin: 2px;
}

.active-input-mode {
  background-color: aqua;
}

.sets-reps-input {
  width: 30px;
}

button,
input {
  margin: 2px;
}

.custom-set-container {
  display: inline-block;
}

.delete-button {
  color: red;
  font-weight: bold;
}
